@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5c258d; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389a2, #5c258d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  font-family: "Roboto";
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
}

.form-container {
  position: relative;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 350px;
  border-radius: 18px;
  margin-bottom: 100px;
  justify-content: space-between;
  flex: 0 0 auto;
  box-shadow: 3px 16px 46px -5px rgba(0, 0, 0, 0.67);
}
.form-container h2 {
  color: #8c56d3;
  margin-bottom: 25px;
}
.form-container:after {
  content: "";
  background-color: #cacaff;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(6deg) scale(1.05);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}
.form-container:before {
  content: "";
  background-color: #cacaff;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(-7deg) scale(1.02);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}
.form-container input {
  display: block;
  width: 80%;
  height: 33px;
  padding: 0 10px;
  font-size: 18px;
  margin: 6px auto;
  border: none;
  border-bottom: 1px solid #b882ff;
  outline: none;
}
.form-container input::-moz-placeholder {
  color: #8c56d3;
}
.form-container input:-ms-input-placeholder {
  color: #8c56d3;
}
.form-container input::placeholder {
  color: #8c56d3;
}
.form-container input:focus {
  border-bottom: 3px solid #b882ff;
}
.form-container button {
  border: 2px solid #8c56d3;
  color: #8c56d3;
  border-radius: 33px;
  width: 80%;
  height: 43px;
  cursor: pointer;
  transition: 0.2;
}
.form-container button:hover {
  background-color: #8c56d3;
  color: white;
}

.add-container .form-container:nth-child(2):after {
  content: "";
  background-color: #eacaff;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(9deg) scale(1.05);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}
.add-container .form-container:nth-child(2):before {
  content: "";
  background-color: #eacaff;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(-10deg) scale(1.02);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}

.delete-container .form-container:nth-child(2):after {
  content: "";
  background-color: #cbffca;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(9deg) scale(1.05);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}
.delete-container .form-container:nth-child(2):before {
  content: "";
  background-color: #cbffca;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(-4deg) scale(1.02);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}

.delete-container .form-container:nth-child(3):after {
  content: "";
  background-color: #f67575;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(9deg) scale(1.05);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}
.delete-container .form-container:nth-child(3):before {
  content: "";
  background-color: #f67575;
  width: 400px;
  height: 350px;
  display: block;
  transform: rotate(-10deg) scale(1.02);
  position: absolute;
  top: 7px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 18px;
}

.connect-pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.connect-form {
  box-shadow: 3px 3px 30px 8px rgba(255, 255, 255, 0.58);
  position: relative;
  width: 35%;
  background: #fff;
  height: 50%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.connect-form input {
  width: 80%;
  height: 45px;
  outline: none;
  border: none;
  border-bottom: 1px solid #b882ff;
  transition: all 0.2s ease;
  padding-left: 5px;
}
.connect-form input:focus {
  border: 2px solid #b882ff;
  border-radius: 15px;
  transition: all 0.2s ease;
  transform: translate(15px, -10px);
}
.connect-form button {
  background: #5c258d; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389a2, #5c258d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 30px;
  color: white;
  width: 50%;
  height: 35px;
  align-self: center;
  outline: none;
  border: none;
  transition: all ease 0.3s;
  cursor: pointer;
}
.connect-form button:hover {
  transform: scale(1.05);
  transition: all ease 0.3s;
}

.close-pop-up {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  width: 20px;
  display: block;
}
.close-pop-up:before, .close-pop-up:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: #5c258d;
}
.close-pop-up:before {
  transform: rotate(45deg);
}
.close-pop-up:after {
  transform: rotate(-45deg);
}

.open {
  transform: translateX(100%);
  transition: all 0.8s;
}

.close {
  background: transparent;
  transform: translateX(-100%);
  transition: transform 0.8s;
}

.open-db-connect-button {
  width: 90px;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  color: white;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.open-db-connect-button:hover {
  background: rgba(0, 0, 0, 0.4);
}
.open-db-connect-button h2 {
  display: block;
  font-size: 25px;
}

.add-container,
.delete-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.add-container .title,
.delete-container .title {
  width: 50%;
  color: white;
  margin-bottom: 100px;
  display: block;
  border-bottom: 2px solid white;
  text-align: center;
  padding: 10px;
}

.status-db {
  position: fixed;
  left: 45%;
  top: 20px;
  display: none;
  width: 100px;
  height: 70px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  z-index: 10;
}

.status-req {
  position: fixed;
  left: calc(50% - 250px);
  top: 20px;
  display: none;
  width: 500px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 10px;
}
.status-req p {
  display: block;
}

#big_container {
  height: 600px;
}
#big_container:after, #big_container:before {
  height: 600px;
}

.wrap-in {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resend-req {
  width: 100%;
  height: 90px;
  font-size: 30px;
  border: none;
  outline: none;
  color: #8c56d3;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
#resend-req::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#resend-req:hover {
  color: #fff;
}
#resend-req:hover::after {
  background: transparent;
}
#resend-req:hover::before {
  opacity: 1;
}
#resend-req:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}/*# sourceMappingURL=styles.css.map */